In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
# this method loops thru every value of the given pandas series and calculates
# the total number of nan values and the fraction of 
# the total number of nan values / the total values in series 
def count_nan(series):
    count = 0
    for i in series:
        if i is np.nan:
            count += 1
    return count, count/len(series)

In [39]:
# this method transforms a string that contains different values separated by
# a semicolon and a space(;) of a given attribute in a given dataframe into a list and 
# returns in the pandas series format and a nparray that contains the indexes of rows that
# has nan 
def merge_str_list(df, attr_name):
    drop_lst = np.array([])
    result = pd.Series()
    for i in range(df.shape[0]):
        data = df[attr_name][i]
        # if string value, extract all values into a list
        if type(data) is str:
            result[i] = data.split(';')
        # if not string value, then add the index into drop_lst
        else:
            drop_lst = np.append(drop_lst, i)
            result[i] = data
    
    return result, drop_lst

In [40]:
# read csv
df = pd.read_csv("2019 survey_results_public.csv")
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [41]:
# print out all attributes
total_attributes = df.columns
for i in total_attributes:
    print(i)

Respondent
MainBranch
Hobbyist
OpenSourcer
OpenSource
Employment
Country
Student
EdLevel
UndergradMajor
EduOther
OrgSize
DevType
YearsCode
Age1stCode
YearsCodePro
CareerSat
JobSat
MgrIdiot
MgrMoney
MgrWant
JobSeek
LastHireDate
LastInt
FizzBuzz
JobFactors
ResumeUpdate
CurrencySymbol
CurrencyDesc
CompTotal
CompFreq
ConvertedComp
WorkWeekHrs
WorkPlan
WorkChallenge
WorkRemote
WorkLoc
ImpSyn
CodeRev
CodeRevHrs
UnitTests
PurchaseHow
PurchaseWhat
LanguageWorkedWith
LanguageDesireNextYear
DatabaseWorkedWith
DatabaseDesireNextYear
PlatformWorkedWith
PlatformDesireNextYear
WebFrameWorkedWith
WebFrameDesireNextYear
MiscTechWorkedWith
MiscTechDesireNextYear
DevEnviron
OpSys
Containers
BlockchainOrg
BlockchainIs
BetterLife
ITperson
OffOn
SocialMedia
Extraversion
ScreenName
SOVisit1st
SOVisitFreq
SOVisitTo
SOFindAnswer
SOTimeSaved
SOHowMuchTime
SOAccount
SOPartFreq
SOJobs
EntTeams
SOComm
WelcomeChange
SONewContent
Age
Gender
Trans
Sexuality
Ethnicity
Dependents
SurveyLength
SurveyEase

In [42]:
df['YearsCode'].unique()

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 'Less than 1 year', '30', '9', '26', '40', '19',
       '15', '20', '28', '25', '1', '22', '11', '33', '50', '41', '18',
       '34', '24', '23', '42', '27', '21', '36', '32', '39', '38', '31',
       '37', 'More than 50 years', '29', '44', '45', '48', '46', '43',
       '47', '49'], dtype=object)

Need to change the years program into the following range

Old value                                                  => New value

x <= 2           => 0 - 2 years
 
2 < x <= 5       => 2 - 5 years

6 <= x <= 10     => 6 - 10 years

x > 10           => 11+ years

In [43]:
# transfer to bin size and create a new attribute 'code_yrs'
data = df['YearsCode']
code_yrs = pd.Series()
for i in range(len(data)):
    a = data[i]
    
    if a == "Less than 1 year":
        code_yrs[i] = "0 - 2 years"
    elif a == "More than 50 years":
        code_yrs[i] = "11+ years"
    elif type(a) == float:
        code_yrs[i] = a
    else:
        a_int = int(a)
        if a_int <= 2:
            code_yrs[i] = "0 - 2 years"
        elif a_int > 2 and a_int <= 5 :
            code_yrs[i] = "2 - 5 years"
        elif a_int >= 6 and a_int <= 10:
            code_yrs[i] = "6 - 10 years"
        elif a_int > 10:
            code_yrs[i] = "11+ years"

# create a new attribute
df['code_yrs'] = code_yrs

In [44]:
df['ConvertedComp'].value_counts()

ConvertedComp
2000000.0    709
1000000.0    558
120000.0     502
100000.0     480
150000.0     434
            ...
128593.0       1
58786.0        1
79836.0        1
30100.0        1
69717.0        1
Name: count, Length: 9162, dtype: int64

Transform float values of Salary into ranges as below:

Less than $20,000         
$20,000 - $40,000          
$40,000 - $60,000          
$60,000 - $80,000          
$80,000 - $100,000         
$100,000 - $120,000        
$120,000 - $140,000                
$140,000 - $160,000        
More than $160,000   
Rather not say             
Unemployed 
Other (please specify)      

There will be no values for Rather not say, Unemployed and Other

In [45]:
# this transform the values of salary into the same bin size as previous surveys and create a new attribute salary_merge
salary_merge = pd.Series()
data = df['ConvertedComp']
for i in range(len(data)):
    if data[i] < 20000:
        salary_merge[i] = "Less than $20,000"
    elif data[i] >= 20000 and data[i] < 40000:
        salary_merge[i] = "$20,000 - $40,000"
    elif data[i] >= 40000 and data[i] < 60000:
        salary_merge[i] = "$40,000 - $60,000"
    elif data[i] >= 60000 and data[i] < 80000:
        salary_merge[i] = "$60,000 - $80,000"
    elif data[i] >= 80000 and data[i] < 100000:
        salary_merge[i] = "$80,000 - $100,000"
    elif data[i] >= 100000 and data[i] < 120000:
        salary_merge[i] = "$100,000 - $120,000"
    elif data[i] >= 120000 and data[i] < 140000:
        salary_merge[i] = "$120,000 - $140,000"
    elif data[i] >= 140000 and data[i] < 160000:
        salary_merge[i] = "$140,000 - $160,000"
    elif data[i] >= 160000:
        salary_merge[i] = "More than $160,000"
    # if nan, the transformed data is still nan
    elif np.isnan(data[i]):
        salary_merge[i] = np.nan

df['salary_merge'] = salary_merge

In [46]:
df['DevType']

0                                                      NaN
1        Developer, desktop or enterprise applications;...
2        Designer;Developer, back-end;Developer, front-...
3                                    Developer, full-stack
4        Academic researcher;Developer, desktop or ente...
                               ...
88878                                                  NaN
88879                                                  NaN
88880                                                  NaN
88881                                                  NaN
88882                                                  NaN
Name: DevType, Length: 88883, dtype: object

Transform df['DevType'] into list and create a new attribute devtyp_t

In [47]:
# transform df['DevType'] into list and create a new attribute devtyp_t

result = pd.Series()
for i in range(df.shape[0]):
    data = df['DevType'][i]
    # if string value, extract all values into a list
    if type(data) is str:
        result[i] = data.split(';')
        lst = []
        for j in result[i]:
            if j == "Senior Executive (CSuite, VP, etc.)":
                j = "Senior Executive (CSuite/VP/etc.)"
                lst.append(j)
            else: 
                lst.append(j.replace(", ", "_"))
        result[i] = lst
                
    # if not string value, 
    else:
        result[i] = data
    

df['devtyp_t'] = result


# also replace "Developer, full-stack" to "Developer_full-stack"
# replace "Developer, front-end" to "Developer_front-end"
# replace "Developer, back-end" to "Developer_back-end"
# replace "Developer, desktop or enterprise applications" to "Developer_desktop or enterprise applications"
# replace "Developer, embedded applications or devices" to "Developer_embedded applications or devices"
# replace "Developer, game or graphics" to "Developer_game or graphics"
# replace "Developer, mobile" to "Developer_mobile"
# replace "Developer, QA or test" to "Developer_QA or test"
# replace "Engineer, data" to "Engineer_data"
# replace "Engineer, site reliability" to "Engineer_site reliability"
# replace "Senior Executive (CSuite, VP, etc.)" to "Senior Executive (CSuite/VP/etc.)"

In [48]:
df['devtyp_t']

0                                                      NaN
1        [Developer_desktop or enterprise applications,...
2        [Designer, Developer_back-end, Developer_front...
3                                   [Developer_full-stack]
4        [Academic researcher, Developer_desktop or ent...
                               ...
88878                                                  NaN
88879                                                  NaN
88880                                                  NaN
88881                                                  NaN
88882                                                  NaN
Name: devtyp_t, Length: 88883, dtype: object

In [49]:
df['DevEnviron']

0                               IntelliJ;Notepad++;PyCharm
1                                             Atom;PyCharm
2                                   Vim;Visual Studio Code
3             Eclipse;Vim;Visual Studio;Visual Studio Code
4                                   IntelliJ;Notepad++;Vim
                               ...
88878                Atom;Visual Studio;Visual Studio Code
88879                                                  NaN
88880                                                  NaN
88881                                                  NaN
88882    Android Studio;Atom;Eclipse;NetBeans;Notepad++...
Name: DevEnviron, Length: 88883, dtype: object

Transform df['DevEnviron'] into list and create a new attribute ide_t

In [50]:
# transform df['DevEnviron'] into list and create a new attribute ide_t
df['ide_t'], _ = merge_str_list(df, 'DevEnviron')

In [51]:
# single choice
df['EdLevel'].value_counts()

EdLevel
Bachelor’s degree (BA, BS, B.Eng., etc.)                                              39134
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           19569
Some college/university study without earning a degree                                10502
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     8642
Associate degree                                                                       2938
Other doctoral degree (Ph.D, Ed.D., etc.)                                              2432
Primary/elementary school                                                              1422
Professional degree (JD, MD, etc.)                                                     1198
I never completed any formal education                                                  553
Name: count, dtype: int64

In [52]:
# single choice
df['UndergradMajor'].value_counts()

UndergradMajor
Computer science, computer engineering, or software engineering          47214
Another engineering discipline (ex. civil, electrical, mechanical)        6222
Information systems, information technology, or system administration     5253
Web development or web design                                             3422
A natural science (ex. biology, chemistry, physics)                       3232
Mathematics or statistics                                                 2975
A business discipline (ex. accounting, finance, marketing)                1841
A humanities discipline (ex. literature, history, philosophy)             1571
A social science (ex. anthropology, psychology, political science)        1352
Fine arts or performing arts (ex. graphic design, music, studio art)      1233
I never declared a major                                                   976
A health science (ex. nursing, pharmacy, radiology)                        323
Name: count, dtype: int64

In [53]:
# multiple choice
df['EduOther'].value_counts()

EduOther
Taught yourself a new language, framework, or tool without taking a formal course                                                                                                                                                                                                                                                                                                                                      6699
Taken an online course in programming or software development (e.g. a MOOC);Taught yourself a new language, framework, or tool without taking a formal course                                                                                                                                                                                                                                                          6012
Taught yourself a new language, framework, or tool without taking a formal course;Contributed to open source software                                                                                                                                                                                                                                                                                                  3810
Taken an online course in programming or software development (e.g. a MOOC);Received on-the-job training in software development;Taught yourself a new language, framework, or tool without taking a formal course                                                                                                                                                                                                     3104
Taken an online course in programming or software development (e.g. a MOOC)                                                                                                                                                                                                                                                                                                                                            2820
                                                                                                                                                                                                                                                                                                                                                                                                                       ...
Taken an online course in programming or software development (e.g. a MOOC);Taken a part-time in-person course in programming or software development;Completed an industry certification program (e.g. MCPD);Received on-the-job training in software development;Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder);Participated in a hackathon;Contributed to open source software       1
Taken a part-time in-person course in programming or software development;Received on-the-job training in software development;Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder);Contributed to open source software                                                                                                                                                                       1
Completed an industry certification program (e.g. MCPD);Received on-the-job training in software development;Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder);Participated in a hackathon                                                                                                                                                                                                 1
Participated in a full-time developer training program or bootcamp;Taken a part-time in-person course in programming or software development;Received on-the-job training in software development;Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder);Contributed to open source software                                                                                                    1
Participated in a full-time developer training program or bootcamp;Taken a part-time in-person course in programming or software development;Completed an industry certification program (e.g. MCPD);Received on-the-job training in software development;Participated in a hackathon;Contributed to open source software                                                                                                 1
Name: count, Length: 492, dtype: int64

Merge df['EdLevel'], df['UndergradMajor'] and df['EduOther'] into a new attribute called 'edu_t'

In [54]:
# Merge df['EdLevel'], df['UndergradMajor'] and df['EduOther'] into a new attribute called 'edu_t'
data_formal = df['EdLevel']
data_maj = df['UndergradMajor']
data_learn = df['EduOther']
edu_t = pd.Series()

for i in range(len(df)):
    a = data_formal[i]
    b = data_maj[i]
    c = data_learn[i]
    lst = list()

    if b is not np.nan:
        lst.append(a)
        lst.append(b)
        if type(c) == str:
            c_lst = c.split(";")
            for j in c_lst:
                lst.append(j)
        edu_t[i] = lst
    else:
        lst.append(a)
        if type(c) == str:
            c_lst = c.split(";")
            for j in c_lst:
                lst.append(j)
            
            edu_t[i] = lst
        else:
            edu_t[i] = a
    

df['edu_t'] = edu_t

In [55]:
# multiple choice
df['LanguageWorkedWith']

0                          HTML/CSS;Java;JavaScript;Python
1                                      C++;HTML/CSS;Python
2                                                 HTML/CSS
3                                      C;C++;C#;Python;SQL
4              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88878                        HTML/CSS;JavaScript;Other(s):
88879                                                  NaN
88880                                                  NaN
88881                                                  NaN
88882    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [56]:
# multiple choice
df['DatabaseWorkedWith']

0                                                  SQLite
1                                                     NaN
2                                              PostgreSQL
3                                            MySQL;SQLite
4        Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite
                               ...
88878                                     Firebase;SQLite
88879                                                 NaN
88880                                                 NaN
88881                                                 NaN
88882         DynamoDB;MariaDB;Microsoft SQL Server;MySQL
Name: DatabaseWorkedWith, Length: 88883, dtype: object

In [57]:
# multiple choice
df['PlatformWorkedWith']

0                            MacOS;Windows
1                                  Windows
2                                      NaN
3                            Linux;Windows
4        Android;Linux;MacOS;Slack;Windows
                       ...
88878                                Linux
88879                                  NaN
88880                                  NaN
88881                                  NaN
88882            iOS;Linux;MacOS;WordPress
Name: PlatformWorkedWith, Length: 88883, dtype: object

In [58]:
# multiple choice
df['WebFrameWorkedWith']

0                                       Django;Flask
1                                             Django
2                                                NaN
3                                                NaN
4        Django;Express;Flask;jQuery;React.js;Spring
                            ...
88878                                         jQuery
88879                                            NaN
88880                                            NaN
88881                                            NaN
88882                         Django;jQuery;React.js
Name: WebFrameWorkedWith, Length: 88883, dtype: object

In [59]:
# multiple choice
df['MiscTechWorkedWith']

0                       Node.js
1                           NaN
2                           NaN
3                          .NET
4               Cordova;Node.js
                  ...
88878                   Node.js
88879                       NaN
88880                       NaN
88881                       NaN
88882    Unity 3D;Unreal Engine
Name: MiscTechWorkedWith, Length: 88883, dtype: object

Need to combine values in LanguageWorkedWith, DatabaseWorkedWith, PlatformWorkedWith, WebFrameWorkedWith and MiscTechWorkedWith and merge them into a new attribute called tools. If nan values are in all five attributes, then drop that row.

In [60]:
# merge all five attributes into one new attribute called 'tools' 
# and extract the row indexes that have nan values in all five attributes
data_db = df['DatabaseWorkedWith']
data_fw = df['WebFrameWorkedWith']
data_lang = df['LanguageWorkedWith']
data_plat = df['PlatformWorkedWith']
data_misc = df['MiscTechWorkedWith']
tools = pd.Series()
drop_lst = np.array([])
for i in range(len(df)):
    a = data_db[i]
    b = data_fw[i]
    c = data_lang[i]
    d = data_plat[i]
    e = data_misc[i]
    a_lst = list()
    b_lst = list()
    c_lst = list()
    d_lst = list()
    e_lst = list()
    if type(a) == str:
        a_lst = a.split(";")
    if type(b) == str:
        b_lst = b.split(";")
    if type(c) == str:
        c_lst = c.split(";")
    if type(d) == str:
        d_lst = d.split(";")
    if type(e) == str:
        e_lst = e.split(";")
    # if five attributes are all nan values, then add the row index into drop list    
    if len(a_lst) == 0 and len(b_lst) == 0 and len(c_lst) == 0 and len(d_lst) == 0 and len(e_lst) == 0 :
        tools[i] = np.nan
        drop_lst = np.append(drop_lst, i)
    else:
        tools[i] = a_lst + b_lst + c_lst + d_lst + e_lst

# create new attribute tools
df['tools'] = tools

In [61]:
# drop the rows that have all nan values and create a new datatframe df2
print("Rows at these indexes have all nan value and need to be dropped \n "+str(drop_lst))
print("The total number of nan values in all five attributes \n(LanguageWorkedWith, DatabaseWorkedWith, PlatformWorkedWith, WebFrameWorkedWith and MiscTechWorkedWith)"
      +" \n is "+str(len(drop_lst))+" which the proportion is "+str(len(drop_lst)/len(df)))
df2 = df.drop(index = drop_lst)

Rows at these indexes have all nan value and need to be dropped
 [  178.   292.   532.   590.   641.   719.  1015.  1107.  1321.  1633.
  1694.  1711.  1908.  1990.  2058.  2178.  2181.  2421.  2431.  2518.
  2758.  2921.  3089.  3185.  3316.  3528.  3724.  3902.  3992.  3998.
  4234.  4311.  4677.  4906.  4927.  5068.  5177.  5245.  5396.  5471.
  5593.  5732.  5884.  6048.  6129.  6201.  6653.  6660.  6706.  6760.
  6779.  6869.  6939.  7172.  7340.  7465.  7520.  7737.  8207.  8328.
  8478.  8483.  8952.  8953.  9019.  9045.  9052.  9113.  9222.  9392.
  9517.  9669.  9673.  9778. 10152. 10233. 10287. 10319. 10368. 10551.
 10823. 11045. 11137. 11221. 11269. 11315. 11453. 11658. 12123. 12151.
 12154. 12694. 12743. 12748. 13267. 13339. 13559. 13736. 13847. 14047.
 14138. 14171. 14416. 14486. 14584. 14593. 14769. 14938. 15097. 15242.
 15274. 15292. 15425. 15474. 15638. 15717. 15748. 15842. 15915. 16029.
 16412. 16414. 16446. 16522. 16578. 16661. 16681. 17021. 17042. 17056.
 17174. 17544. 17638. 17774. 17932. 17937. 18677. 19367. 19666. 19688.
 19918. 20454. 20573. 20672. 20731. 20746. 20892. 21067. 21079. 21130.
 21207. 21403. 21521. 21563. 21636. 21754. 21762. 21797. 21943. 22046.
 22063. 22107. 22116. 22169. 22214. 22388. 22779. 22815. 23001. 23037.
 23047. 23100. 23258. 23570. 23661. 23802. 23881. 24357. 24482. 24526.
 24573. 24576. 24650. 24666. 24884. 25541. 25653. 25675. 25692. 25708.
 25743. 25843. 25855. 25856. 26047. 26819. 26825. 26907. 26921. 27017.
 27127. 27343. 27508. 27536. 27659. 27732. 27832. 27914. 28277. 28358.
 28536. 28657. 28825. 28938. 29341. 29392. 29423. 29533. 29717. 29747.
 29822. 29875. 29934. 29947. 30040. 30055. 30353. 30673. 30735. 31091.
 31101. 31269. 31397. 31426. 31459. 31668. 31722. 32094. 32379. 32408.
 32423. 32477. 33036. 33177. 33308. 33361. 33376. 33453. 33617. 34060.
 34075. 34269. 34661. 34677. 35013. 35094. 35155. 35404. 35420. 35838.
 35871. 35906. 35998. 36033. 36126. 36198. 36285. 36348. 36349. 36400.
 36587. 36670. 37194. 37576. 37623. 37751. 37760. 37819. 38355. 38662.
 38756. 38851. 39121. 39185. 39237. 39523. 39607. 39627. 39805. 39884.
 39949. 39953. 40259. 40323. 40350. 40509. 40602. 40614. 40633. 40720.
 40784. 41126. 41254. 41373. 41710. 41752. 41891. 41921. 41944. 42067.
 42188. 42224. 42345. 42476. 42477. 42486. 42489. 42492. 42494. 42514.
 42535. 42553. 42738. 42832. 43542. 43606. 43610. 44007. 44059. 44069.
 44365. 44409. 44414. 44657. 44824. 45003. 45136. 45433. 45444. 45456.
 45660. 45663. 45886. 45978. 46083. 46084. 46263. 46342. 46457. 47066.
 47215. 47487. 47492. 47517. 47539. 47552. 47580. 47708. 47850. 47884.
 47929. 47958. 48064. 48098. 48236. 48279. 48296. 48305. 48331. 48455.
 48700. 48856. 48923. 49127. 49144. 49162. 49269. 49377. 49389. 49736.
 50236. 50307. 50369. 50396. 50437. 50551. 50611. 50640. 50875. 50984.
 51151. 51187. 51267. 51611. 51614. 51808. 51886. 52075. 52371. 52565.
 52567. 52711. 52935. 53311. 53390. 53423. 54049. 54259. 54296. 54442.
 54730. 54751. 54842. 55164. 55470. 55621. 55636. 55795. 56008. 56011.
 56054. 56400. 56407. 56520. 56565. 56662. 56791. 56877. 57199. 57251.
 57425. 57436. 57480. 57485. 57568. 57590. 57639. 57781. 57837. 57860.
 58205. 58327. 58344. 58390. 58432. 58592. 58611. 58685. 58755. 58839.
 58964. 59073. 59312. 59455. 59502. 59547. 59590. 59638. 59773. 59775.
 59873. 59901. 60297. 60327. 60334. 60369. 60490. 60674. 60997. 61010.
 61272. 61356. 61492. 61517. 61523. 61618. 61766. 62033. 62117. 62375.
 62423. 62473. 62577. 62635. 62731. 63037. 63063. 63126. 63163. 63222.
 63332. 63846. 63894. 63944. 64020. 64385. 64600. 64734. 64813. 65236.
 65261. 65429. 65554. 65781. 65943. 65954. 66184. 66236. 66268. 66618.
 66643. 66650. 66728. 66732. 66867. 66930. 66966. 67063. 67201. 67316.
 67376. 67425. 67499. 67560. 67623. 67872. 67887. 67894. 67951. 67983.
 68074. 68193. 68348. 68479. 68692. 68702. 68738. 68867. 69050. 69243.
 69446. 69578. 69814. 69827. 69840. 70112. 70166. 70667. 70722. 70727.
 70738. 70815. 70831. 70835. 70880. 70963. 71255. 71262. 71331. 71505.
 71638. 71652. 71655. 71768. 72024. 72260. 72302. 72317. 72318. 72323.
 72565. 72737. 72931. 73135. 73207. 73446. 73649. 74072. 74183. 74290.
 74333. 74353. 74388. 74491. 74525. 74617. 74663. 74714. 74790. 74875.
 74986. 74995. 75176. 75260. 75284. 75414. 75440. 75624. 75710. 75821.
 75979. 75983. 76015. 76227. 76299. 76344. 76507. 76512. 76630. 76799.
 76819. 76967. 77497. 77504. 77617. 77625. 77984. 77998. 78215. 78311.
 78335. 78587. 78681. 78697. 78715. 78745. 79198. 79235. 79265. 79296.
 79302. 80035. 80353. 80443. 80544. 80863. 80901. 81247. 81450. 81471.
 81529. 81654. 81773. 81799. 81956. 81969. 82142. 82319. 82622. 82640.
 82910. 82945. 83057. 83313. 83354. 83389. 83593. 83667. 83714. 83763.
 83928. 83932. 84269. 84415. 84427. 84472. 84559. 84562. 84627. 84643.
 84824. 85372. 85431. 85557. 85629. 85641. 85941. 85962. 85990. 86466.
 86539. 86617. 86777. 86876. 86948. 87240. 87337. 87376. 87607. 87671.
 87858. 87939. 87968. 88269. 88322. 88327. 88339. 88349. 88351. 88352.
 88353. 88354. 88355. 88357. 88358. 88361. 88363. 88364. 88369. 88372.
 88373. 88377. 88382. 88384. 88385. 88386. 88388. 88389. 88398. 88403.
 88404. 88405. 88410. 88411. 88412. 88416. 88417. 88421. 88423. 88427.
 88431. 88435. 88448. 88450. 88453. 88455. 88458. 88459. 88461. 88464.
 88465. 88467. 88470. 88475. 88478. 88479. 88480. 88484. 88490. 88492.
 88497. 88498. 88499. 88502. 88505. 88508. 88514. 88523. 88524. 88525.
 88526. 88527. 88533. 88535. 88539. 88541. 88543. 88547. 88552. 88554.
 88556. 88569. 88572. 88578. 88583. 88586. 88588. 88590. 88593. 88594.
 88595. 88596. 88598. 88601. 88604. 88610. 88614. 88615. 88616. 88623.
 88625. 88629. 88633. 88635. 88637. 88645. 88647. 88649. 88651. 88652.
 88653. 88665. 88666. 88670. 88671. 88676. 88677. 88678. 88679. 88685.
 88687. 88688. 88690. 88691. 88699. 88707. 88714. 88716. 88717. 88721.
 88723. 88730. 88733. 88738. 88739. 88742. 88749. 88753. 88755. 88768.
 88772. 88775. 88781. 88782. 88785. 88788. 88789. 88790. 88791. 88792.
 88793. 88795. 88796. 88799. 88800. 88812. 88814. 88816. 88823. 88824.
 88827. 88831. 88832. 88845. 88847. 88849. 88851. 88856. 88858. 88861.
 88862. 88867. 88868. 88869. 88873. 88874. 88879. 88880. 88881.]
The total number of nan values in all five attributes
(LanguageWorkedWith, DatabaseWorkedWith, PlatformWorkedWith, WebFrameWorkedWith and MiscTechWorkedWith)
 is 869 which the proportion is 0.009776897719473916

In [62]:
# show the number and proportion of nan values in yrs of coding/experience_range
df_yrs = df2['code_yrs']
print(df_yrs.value_counts())
c, r = count_nan(df_yrs)
print("The total number of nan values for experience_range is "+str(c)+" and the proportion is "+str(r))

code_yrs
11+ years       35718
6 - 10 years    26887
2 - 5 years     17820
0 - 2 years      6900
Name: count, dtype: int64
The total number of nan values for experience_range is 689 and the proportion is 0.00782830004317495

In [63]:
# show the number and proportion of nan values in occupation
df_occup = df2['devtyp_t']
print(df_occup.value_counts())
c, r = count_nan(df_occup)
print("The total number of nan values for Occupation is "+str(c)+" and the proportion is "+str(r))

devtyp_t
[Developer_full-stack]                                                                                                                                                                                                                                                       8403
[Developer_back-end]                                                                                                                                                                                                                                                         4888
[Developer_back-end, Developer_front-end, Developer_full-stack]                                                                                                                                                                                                              2393
[Developer_front-end]                                                                                                                                                                                                                                                        2195
[Developer_mobile]                                                                                                                                                                                                                                                           2160
                                                                                                                                                                                                                                                                             ...
[Academic researcher, Data or business analyst, Database administrator, Designer, Developer_back-end, Educator, Engineer_data]                                                                                                                                                  1
[Academic researcher, Data scientist or machine learning specialist, Developer_full-stack, Engineer_data, Scientist, Student, System administrator]                                                                                                                             1
[Data or business analyst, Data scientist or machine learning specialist, Designer, Educator, Engineer_data, Engineering manager, Scientist, Senior executive/VP]                                                                                                               1
[Database administrator, Designer, Developer_back-end, Developer_desktop or enterprise applications, Developer_embedded applications or devices, Developer_front-end, Developer_full-stack, Developer_mobile, Engineering manager, Product manager, System administrator]       1
[Data or business analyst, Developer_back-end, Student, System administrator]                                                                                                                                                                                                   1
Name: count, Length: 13089, dtype: int64
The total number of nan values for Occupation is 7146 and the proportion is 0.08119162860454018

In [64]:
# show the number and proportion of nan values in desktop operation system
df_op = df2['OpSys']
print(df_op.value_counts())
c, r = count_nan(df_op)
print("The total number of nan values for desktop systems is "+str(c)+" and the proportion is "+str(r))

OpSys
Windows        41359
MacOS          23448
Linux-based    22372
BSD              120
Name: count, dtype: int64
The total number of nan values for desktop systems is 715 and the proportion is 0.008123707591974004

In [65]:
# show the number and proportion of nan values in Preferred text editor/dev environment
df_te = df2['ide_t']
print(df_te.value_counts())
c, r = count_nan(df_te)
print("The total number of nan values for Preferred text editor is "+str(c)+" and the proportion is "+str(r))

ide_t
[Visual Studio Code]                                                           5014
[Visual Studio, Visual Studio Code]                                            3828
[Notepad++, Visual Studio, Visual Studio Code]                                 3244
[Vim]                                                                          2218
[Notepad++, Visual Studio]                                                     1967
                                                                               ...
[Android Studio, Atom, IntelliJ, Komodo, NetBeans, Notepad++, Sublime Text]       1
[Emacs, Notepad++, Sublime Text, Vim, Visual Studio]                              1
[Android Studio, Atom, Emacs, NetBeans, Visual Studio, Zend]                      1
[Android Studio, Atom, Eclipse, Sublime Text, Visual Studio Code, Xcode]          1
[PHPStorm, TextMate, Xcode]                                                       1
Name: count, Length: 7683, dtype: int64
The total number of nan values for Preferred text editor is 1167 and the proportion is 0.01325925420955757

In [66]:
# show the number and proportion of nan values in salary
df_salary = df2['salary_merge']
print(df_salary.value_counts())
c, r = count_nan(df_salary)
print("The total number of nan values for salary is "+str(c)+" and the proportion is "+str(r))

salary_merge
Less than $20,000      11240
$20,000 - $40,000       8940
$40,000 - $60,000       8923
$60,000 - $80,000       7302
More than $160,000      6650
$80,000 - $100,000      5082
$100,000 - $120,000     3390
$120,000 - $140,000     2537
$140,000 - $160,000     1657
Name: count, dtype: int64
The total number of nan values for salary is 32293 and the proportion is 0.3669075374372259

In [67]:
# show the number and proportion of nan values in education
df_edu = df2['edu_t']
print(df_edu.value_counts())
c, r = count_nan(df_edu)
print("The total number of nan values for education is "+str(c)+" and the proportion is "+str(r))

edu_t
[Bachelor’s degree (BA, BS, B.Eng., etc.), Computer science, computer engineering, or software engineering, Taught yourself a new language, framework, or tool without taking a formal course]                                                                                                                                                                                                                                                                                                                                                                  1553
[Bachelor’s degree (BA, BS, B.Eng., etc.), Computer science, computer engineering, or software engineering, Taken an online course in programming or software development (e.g. a MOOC), Taught yourself a new language, framework, or tool without taking a formal course]                                                                                                                                                                                                                                                                                     1356
[Bachelor’s degree (BA, BS, B.Eng., etc.), Computer science, computer engineering, or software engineering]                                                                                                                                                                                                                                                                                                                                                                                                                                                     1139
[Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.), Taught yourself a new language, framework, or tool without taking a formal course]                                                                                                                                                                                                                                                                                                                                                                                          967
[Bachelor’s degree (BA, BS, B.Eng., etc.), Computer science, computer engineering, or software engineering, Taken an online course in programming or software development (e.g. a MOOC), Received on-the-job training in software development, Taught yourself a new language, framework, or tool without taking a formal course]                                                                                                                                                                                                                                935
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ...
[I never completed any formal education, Taken an online course in programming or software development (e.g. a MOOC), Participated in a full-time developer training program or bootcamp, Taken a part-time in-person course in programming or software development, Contributed to open source software]                                                                                                                                                                                                                                                          1
[Other doctoral degree (Ph.D, Ed.D., etc.), A natural science (ex. biology, chemistry, physics), Participated in a full-time developer training program or bootcamp, Taken a part-time in-person course in programming or software development, Received on-the-job training in software development, Taught yourself a new language, framework, or tool without taking a formal course]                                                                                                                                                                           1
[Bachelor’s degree (BA, BS, B.Eng., etc.), A health science (ex. nursing, pharmacy, radiology), Taught yourself a new language, framework, or tool without taking a formal course, Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder), Participated in a hackathon]                                                                                                                                                                                                                                                                  1
[Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.), Participated in a full-time developer training program or bootcamp, Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder), Participated in a hackathon, Contributed to open source software]                                                                                                                                                                                                                                                       1
[Professional degree (JD, MD, etc.), A health science (ex. nursing, pharmacy, radiology), Taken an online course in programming or software development (e.g. a MOOC), Participated in a full-time developer training program or bootcamp, Taken a part-time in-person course in programming or software development, Taught yourself a new language, framework, or tool without taking a formal course, Participated in online coding competitions (e.g. HackerRank, CodeChef, TopCoder), Participated in a hackathon, Contributed to open source software]       1
Name: count, Length: 9675, dtype: int64
The total number of nan values for education is 268 and the proportion is 0.003044970118390256

In [68]:
# show the number and proportion of nan values in country
df_country = df2['Country']
print(df_country.value_counts())
c, r = count_nan(df_country)
print("The total number of nan values for Country is "+str(c)+" and the proportion is "+str(r))

Country
United States                       20831
India                                8924
Germany                              5845
United Kingdom                       5705
Canada                               3372
                                    ...
Saint Vincent and the Grenadines        1
Sao Tome and Principe                   1
Djibouti                                1
Chad                                    1
Liberia                                 1
Name: count, Length: 179, dtype: int64
The total number of nan values for Country is 0 and the proportion is 0.0

In [69]:
# Comment out this block because it's too time consuming to run and does not reveal too much useful info

# show the number and proportion of nan values in tools
# df_tools = df2['tools']
# print(df_tools.value_counts())
# c, r = count_nan(df_tools)
# print("The total number of nan values for tools is 0 and the proportion is 0")

In [70]:
# add year
df2['year'] = 2019

In [71]:
# drop unwanted attributes (drop compensation)
df3 = df2.loc[:,['devtyp_t', 'Country', 'edu_t','code_yrs','OpSys','ide_t','year','tools']]

In [72]:
# export df3
df3.to_csv("2019_df3.csv")
df3

,devtyp_t,Country,edu_t,code_yrs,OpSys,ide_t,year,tools
0,NaN,United Kingdom,"[Primary/elementary school, Taught yourself a ...",2 - 5 years,Windows,"[IntelliJ, Notepad++, PyCharm]",2019,"[SQLite, Django, Flask, HTML/CSS, Java, JavaSc..."
1,"[Developer_desktop or enterprise applications,...",Bosnia and Herzegovina,"[Secondary school (e.g. American high school, ...",NaN,Windows,"[Atom, PyCharm]",2019,"[Django, C++, HTML/CSS, Python, Windows]"
2,"[Designer, Developer_back-end, Developer_front...",Thailand,"[Bachelor’s degree (BA, BS, B.Eng., etc.), Web...",2 - 5 years,Linux-based,"[Vim, Visual Studio Code]",2019,"[PostgreSQL, HTML/CSS]"
3,[Developer_full-stack],United States,"[Bachelor’s degree (BA, BS, B.Eng., etc.), Com...",2 - 5 years,Windows,"[Eclipse, Vim, Visual Studio, Visual Studio Code]",2019,"[MySQL, SQLite, C, C++, C#, Python, SQL, Linux..."
4,"[Academic researcher, Developer_desktop or ent...",Ukraine,"[Bachelor’s degree (BA, BS, B.Eng., etc.), Com...",11+ years,Linux-based,"[IntelliJ, Notepad++, Vim]",2019,"[Couchbase, MongoDB, MySQL, Oracle, PostgreSQL..."
...,...,...,...,...,...,...,...,...
88875,[Academic researcher],Pakistan,"[Secondary school (e.g. American high school, ...",0 - 2 years,Windows,[Android Studio],2019,"[Other(s):, HTML/CSS, Java, JavaScript, Google..."
88876,"[Designer, Developer_front-end, Developer_full...",Spain,"[Secondary school (e.g. American high school, ...",11+ years,MacOS,"[Atom, Visual Studio Code]",2019,"[MySQL, PostgreSQL, Django, React.js, HTML/CSS..."
88877,"[Developer_back-end, Developer_desktop or ente...",United States,[Some college/university study without earning...,11+ years,Linux-based,[Vim],2019,"[React.js, Bash/Shell/PowerShell, Go, HTML/CSS..."
88878,NaN,Canada,"[Primary/elementary school, Taught yourself a ...",NaN,Windows,"[Atom, Visual Studio, Visual Studio Code]",2019,"[Firebase, SQLite, jQuery, HTML/CSS, JavaScrip..."
88882,NaN,Spain,"[Professional degree (JD, MD, etc.), Computer ...",6 - 10 years,Linux-based,"[Android Studio, Atom, Eclipse, NetBeans, Note...",2019,"[DynamoDB, MariaDB, Microsoft SQL Server, MySQ..."

extract all of the languages in dataset

In [77]:
tools_dic = dict()

for i in df['LanguageWorkedWith']:
    if type(i) == str:

        x = i.split(";")
    
        for j in x:
            if j not in tools_dic:
                tools_dic[j] = 1
            else:
                old = tools_dic[j]
                tools_dic[j] = old + 1


print(tools_dic)

print(tools_dic.keys())

{'HTML/CSS': 55466, 'Java': 35917, 'JavaScript': 59219, 'Python': 36443, 'C++': 20524, 'C': 18017, 'C#': 27097, 'SQL': 47544, 'VBA': 4781, 'R': 5048, 'Bash/Shell/PowerShell': 31991, 'Ruby': 7331, 'Rust': 2794, 'TypeScript': 18523, 'WebAssembly': 1015, 'Other(s):': 7920, 'Go': 7201, 'PHP': 23030, 'Assembly': 5833, 'Kotlin': 5620, 'Swift': 5744, 'Objective-C': 4191, 'Elixir': 1260, 'Erlang': 777, 'Clojure': 1254, 'F#': 973, 'Scala': 3309, 'Dart': 1683}
dict_keys(['HTML/CSS', 'Java', 'JavaScript', 'Python', 'C++', 'C', 'C#', 'SQL', 'VBA', 'R', 'Bash/Shell/PowerShell', 'Ruby', 'Rust', 'TypeScript', 'WebAssembly', 'Other(s):', 'Go', 'PHP', 'Assembly', 'Kotlin', 'Swift', 'Objective-C', 'Elixir', 'Erlang', 'Clojure', 'F#', 'Scala', 'Dart'])

Languages:


'HTML/CSS', 'Java', 'JavaScript', 'Python', 'C++', 'C', 'C#', 'SQL', 'VBA', 'R', 'Bash/Shell/PowerShell', 'Ruby', 'Rust', 'TypeScript', 'WebAssembly', 'Other(s):', 'Go', 'PHP', 'Assembly', 'Kotlin', 'Swift', 'Objective-C', 'Elixir', 'Erlang', 'Clojure', 'F#', 'Scala', 'Dart'